<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Blog Post | Savir Singh</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/whitelogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
    <p class="name"><a href="/">Savir Singh</a></p>
    <nav>
        <ul>
            <li><a href="/resume">Résumé</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Writing</a></li>
        </ul>
    </nav>
</header>
    <main>
        {{content}}<br>
        <p>Last updated: {{ page.date | date: "%B %-d, %Y" }}</p>
        <p>To read more of my writing, view <a href="/blog">all my posts</a>.</p>
    </main>
    <footer>
        <p>&copy; 2021-2024 Savir Singh.</p>
        <div class="social">
<a href="https://linkedin.com/in/savirss" class="social-icon"><i class="fab fa-linkedin"></i></a>
<a href="https://github.com/savirsingh" class="social-icon"><i class="fab fa-github"></i></a>
<a href="https://twitter.com/kopichiki" class="social-icon"><i class="fab fa-twitter"></i></a>
</div>
    </footer>
</body>
</html>
